* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

.d-f {
  display: flex;
}
.d-f-c {
  display: flex;
  flex-direction: column;
}
.c-p {
  cursor: pointer;
}
.s-b {
  justify-content: space-between;
}
.a-i-c {
  align-items: center;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-20 {
  margin-right: 20px;
}
